stoffe=ping
loglevel=DEBUG
restartTimeout=29
pubnub=true
channelName=name123
publishKey=pub-c-7
subscribeKey=sub-c-c
#experimental, selects specific device type, name or even down on serial number level
deviceType=urn:Belkin:device:insight:1
#deviceType=urn:Belkin:device:bridge:1
#deviceName=WeMo Insight STB
#deviceSerial=231550K12004E3
mqtt=true
mqttHost=127.0.0.1
mqttPort=1883
#mqttTopic + / + channelName will get appended.
mqttTopic=smartstb
smsMessage=Like watching movie? Discounted tickets this week on http://www.cinemark.com
smsTargets=+1,+1
tropoToken=1234